* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}


/*Overall CSS*/
html {
  scroll-behavior: smooth;
}
body { 
  overflow-x: hidden;
}
body.dark {
  background-color: #343a40;
  color: #f8f9fa;
}
section {
  padding-top: 30px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.container { 
  overflow-x: hidden;
}
/*End of Overall CSS*/


/*Start of Navbar*/
.navbar {
  background:#f8f9fa;
  text-transform: uppercase;
}
.nav-item {
  text-align: center;
  padding: 0px 15px;
}
.nav-item > .link {
  font-family: 'Montserrat', sans-serif;
}
.link {
  color: inherit;
  position:relative;
  text-decoration: none;
  display:inline-block;
}
.link:hover {
  color: inherit;
  text-decoration: none;
}
.link:after {
  display:block;
  content: '';
  border-bottom: solid 3px;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
.link:hover:after { 
  transform: scaleX(1);
  transform-origin:0 50%;
}
/*End of Navbar*/


/*Start of Header*/
#header {
  min-height: 100vh;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#header.dark {
  background-image: url("./images/hero-dark.jpg");
}
/*End of Header*/


/*Start of About*/
#about {
  min-height: 100vh;
}
.myphoto {
  max-height: 350px;
}
/*End of About*/


/*Start of Skillset*/
#skillset {
  min-height: 100vh;
}
.img-container{
  justify-content: center;
  align-items: center;
}
.logo {
  width: 80px;
  background: white;
  border-radius: 50%;
  margin-bottom: 5px;
}
/*End of Skillset*


/*Start of Projects*/
#projects {
  min-height: 100vh;
}
.card.dark {
  background: #6c757d;
}
.my-projects {
  display: flex;
}
.project-details {
  justify-content: center;
}
/*End of Projects*/


/*Start of Contact*/
#contact {
  background: #f8f9fa;
}
#contact.dark {
  background: #6c757d;
}
.form-group {
  text-align: left;
}
.social {
  display: inline-block;
  position: relative;
}
.social:hover {
    text-decoration: none;
    transform: rotate(360deg);
    transition: .8s;
}
/*End of Contact*/


/*Media Queries*/
@media screen and (max-width: 400px) {
  .title-long {
    font-size: 28px;
  }
}